html,
body {
	font: 13px Arial;
	height: 100%;
	margin: 0;
}

#main-panel {
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	height: 95%;
	padding: 1%;
}
#message-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 70%;
	height: 100%;
	border-style: solid;
	justify-content: flex-end;
}
#user-container {
	border-style: solid;
	margin: auto;
	width: 30%;
}
#message-form {
	display: flex;
	min-height: 5%;
	width: 98%;
	padding: 1%;
	justify-content: center;
}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	overflow: auto;
}
#messages li {
	padding: 5px 10px;
	white-space: normal;
	word-wrap: break-word;
}
#messages li:nth-child(odd) { background: #eee; }
#m {
	flex: 2;
	border: 0.5;
	padding: 10px;
}
#sendbutton {
	flex: 1;
}

#user-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
